In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [5]:
df

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1       0
1      2020-01-22   Snohomish  Washington  53061.0      1       0
2      2020-01-23   Snohomish  Washington  53061.0      1       0
3      2020-01-24        Cook    Illinois  17031.0      1       0
4      2020-01-24   Snohomish  Washington  53061.0      1       0
...           ...         ...         ...      ...    ...     ...
23962  2020-03-31    Sheridan     Wyoming  56033.0     10       0
23963  2020-03-31    Sublette     Wyoming  56035.0      1       0
23964  2020-03-31  Sweetwater     Wyoming  56037.0      2       0
23965  2020-03-31       Teton     Wyoming  56039.0     23       0
23966  2020-03-31    Washakie     Wyoming  56043.0      1       0

[23967 rows x 6 columns]

In [3]:
dates=list(set(df['date']))
dates.sort()

In [6]:
for date in dates:
    newdf=pd.DataFrame(columns=['State','County','Confirmed'])
    newdf['State']=df[df['date']==date]['state'].values
    newdf['County']=df[df['date']==date]['county'].values
    newdf['Confirmed']=df[df['date']==date]['cases'].values
    newdf['FIPS']=df[df['date']==date]['fips'].values
    t=date.split("-")
    newdf.to_csv("CTY_level_COVID19_{}_{}_{}.csv".format(t[0],int(t[1]),int(t[2])),index=False)
    print(date,df[df['date']==date]['cases'].sum())

2020-01-21 1
2020-01-22 1
2020-01-23 1
2020-01-24 2
2020-01-25 3
2020-01-26 5
2020-01-27 5
2020-01-28 5
2020-01-29 5
2020-01-30 6
2020-01-31 7
2020-02-01 8
2020-02-02 11
2020-02-03 11
2020-02-04 11
2020-02-05 12
2020-02-06 12
2020-02-07 12
2020-02-08 12
2020-02-09 12
2020-02-10 13
2020-02-11 13
2020-02-12 14
2020-02-13 15
2020-02-14 15
2020-02-15 15
2020-02-16 15
2020-02-17 25
2020-02-18 25
2020-02-19 25
2020-02-20 27
2020-02-21 30
2020-02-22 30
2020-02-23 30
2020-02-24 43
2020-02-25 45
2020-02-26 60
2020-02-27 60
2020-02-28 65
2020-02-29 70
2020-03-01 88
2020-03-02 104
2020-03-03 125
2020-03-04 161
2020-03-05 228
2020-03-06 311
2020-03-07 428
2020-03-08 547
2020-03-09 748
2020-03-10 1018
2020-03-11 1263
2020-03-12 1668
2020-03-13 2224
2020-03-14 2898
2020-03-15 3600
2020-03-16 4507
2020-03-17 5905
2020-03-18 8345
2020-03-19 12413
2020-03-20 17996
2020-03-21 24532
2020-03-22 33061
2020-03-23 43499
2020-03-24 54198
2020-03-25 68775
2020-03-26 85615
2020-03-27 102913
2020-03-28 123831
2020-03-29 142178
2020-03-30 163680
2020-03-31 187962